<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Copperhead_Snake_Tieks_Brown_Snake_Print_Ballet_Flats</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Copperhead Snake Tieks - Brown Snake Print Ballet Flats
Add exotic elegance to your step in these couture-worthy, Italian leather ballet flats. The metallic shine of copper, pewter and black combine forces with the perfect print to create a breathtaking pair of Tieks. Made with premium, soft, top-grain Italian leather. Non-elasticized, cushioned back and padded instep. Foldable split-sole design for ultimate portability. Signature Tiek Blue stripes and durable, non-skid rubber soles.</description>
</model>
