<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>UGG_Bailey_Button_Womens_Boots_Black_7</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>UGG Bailey Button Women's Boots- Black 7
Ugg Boots: Ugg Bailey Button Boots for Women by UGG Australia. Bringing versatility to the calf-height style of the Classic Short, the Bailey Button showcases the exclusivewooden logo button with elastic-band closure--in a spectrum of colors. Signature Twinface sheepskin silhouette can be cuffed to expose its cozy interior.</description>
</model>
